.product{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
}

.product-img{
    width: 70%;
    margin: 20px 0px;
}

.product-img img{
    width: 100%;
    max-width: 350px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.quantity input{
    max-width: 8%;
    text-align: center;
    background-color: rgb(235, 229, 229);
    border: none;
}

@media only screen and (max-width: 768px) {
    .product {
        display: block;
    }

    .product-img{
        width: 100%;
    }
}